<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="{{url_for('static',filename='response.js')}}"></script><!--{{url_for('static',filename='response.js')}}-->
    <link rel="stylesheet" type="text/css" href="..static/style.css"></link><!--{{url_for('static',filename='master.css')}}-->
    <title>P2</title>
  </head>
  <body>
  	<div id="form">
      <div id="unite">
        <form id="name_form" onsubmit="return false">
          <input type="name" id="name" placeholder="Enter your name to display....."><br>
          <input type="submit" id="button">
        </form><br>
        <span id="warn"></span>
      </div>
    </div>
    <span id="nameholder"></span>
    <h1>Hello</h1>
    <h2>0</h2>
    <button id="click">Click!</button><hr>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.<br>
    lorem ipsum dolor sit amet.  A quick brown fox jumps over the lazy dog.
  </body>
</html>
